body{
    background-image: url(rest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    height: 100px;
    background-color: black;
    color: white;
    align-items: flex-end;
}